{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-hover table-sm" id="table_id">
				<thead>
					<tr>
						{% if headings %}
						{% for heading in headings %}
							<th>{{ heading }}</th>
						{% endfor %}
						{% endif %}
					</tr>
				</thead>
				<tfoot>

						{% if headings %}
						{% for heading in headings %}
							<th>{{ heading }}</th>
						{% endfor %}
						{% endif %}
				</tfoot>
			</table>
		</div>
	</div>
	<script>
$(document).ready(
	function(){
		$('#table_id').DataTable(
			{
				"processing": true,
				"serverSide": true,
				"ajax":{
					"url":"/ajax/datatable",
					"type":"POST",
					'contentType':'application/json',
					'dataType':'json',
					'data':function(d){
						d.tablename="{{ tablename }}"
						return JSON.stringify(d);
					}
				}
			}
		);
	} 
);
	/*
$('#table_id')
.DataTable(
	{
		"serverSide": true,
		"ajax":{
			"url": '/ajax/datatable',
			"type":"POST",
			'contentType':'application/json',
			'dataType':'json',
			'data':function(d){
				return JSON.stringify(d)
			}
		},
		//'dataType':'json',
		//'async':false
		"columns":[
			{"data":"first_name"},
			{"data": "last_name" },
			{"data": "position"},
			{"data":"office"},
			{"data":"start_date"},
			{"data":"salary" }
		]
	}
);
	data=[
		[
			"Tiger Nixon",
			"System Architect",
			"Edinburgh",
			"5421",
			"2011/04/25",
			"$3,120"
		],
		[
			"Garrett Winters",
			"Director",
			"Edinburgh",
			"8422",
			"2011/07/25",
			"$5,300"
		]
	];
$('#table_id')
.DataTable( {
	    data: data
} );
		*/
	</script>
{% endblock %}

