{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div>
			<img src="http://localhost:5000/gfx/line" style="width:100%;height:auto;"></img>
		</div>
		<div>
			<img src="http://localhost:5000/gfx/plot" style="width:100%;height:auto;"></img>
		</div>
		<div>
			<img src="http://localhost:5000/gfx/simplex" style="width:100%;height:auto;"></img>
		</div>
		<div>
			<img src="http://localhost:5000/gfx/noise?f=0.02" style="width:100%;height:auto;"></img>
		</div>
		<div>
			<img src="http://localhost:5000/gfx/mpl" style="width:100%;height:auto;"></img>
		</div>
		<div>
			<img src="http://localhost:5000/gfx/mpl3d" style="width:100%;height:auto;"></img>
		</div>
	</div>
{% endblock %}

