{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-hover table-sm" id="table_id">
				<thead>
					<tr>
						<th></th>
						{% if headings %}
						{% for heading in headings %}
							<th>{{ heading }}</th>
						{% endfor %}
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% if rows %}
					{% for row in rows %}
						<tr class="table-active">
							<td><a href="{{url_for('main.show_row',tablename=tablename,rowid=row['id'])}}">{{ _('View') }}</a></td>
							{% for heading in headings %}
								<td>{{ row[heading] }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<ul class="pagination">
				{% if prev_url %}
					<li class="page-item">
						<a class="page-link" href="{{ prev_url }}">&laquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">&laquo;</a>
					</li>
				{% endif %}
				<li class="page-item active">
					<a class="page-link" href="#">1</a>
				</li>
				{% if next_url %}
					<li class="page-item">
						<a class="page-link" href="{{ next_url }}">&raquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">&raquo;</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
	<script>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
	</script>
{% endblock %}
