{% extends "base.html" %}
{% block content %}
	<div style="margin-top:20px">
		<div class="row">
			<div class="col-sm-12">
				<h3>{{_('Name')}}: {{employee.Name}}</h3>
			</div>
		</div>
		{% if schedules %}
			<div class="row">
				<div class="col-sm-12">
					<table class="table table-hover table-sm" id="table_id">
						<thead>
							<tr>
								{% if schedules.headings %}
								{% for heading in schedules.headings %}
									<th>{{ heading }}</th>
								{% endfor %}
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% if schedules.rows %}
								{% for row in schedules.rows%}
									<tr class="table-active">
										{% for heading in schedules.headings %}
											<td>{{ row[heading] }}</td>
										{% endfor %}
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<ul class="pagination">
						{% if prev_url %}
							<li class="page-item">
								<a class="page-link" href="{{ prev_url }}">&laquo;</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="#">&laquo;</a>
							</li>
						{% endif %}
						<li class="page-item active">
							<a class="page-link" href="#">1</a>
						</li>
						{% if next_url %}
							<li class="page-item">
								<a class="page-link" href="{{ next_url }}">&raquo;</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="#">&raquo;</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		{% endif %}
		<div id="calendar"></div>
		<div id="timetable" class="timetable"></div>
	</div>
	{% if schedules %}
		<script>
			$(document).ready(
				function(){
					$('#table_id').DataTable();
//timetable.addLocations(['Rotterdam', 'Madrid', 'London', 'New York', 'Los Angeles', 'Jakarta', 'Tokyo']);
//timetable.addEvent('Sightseeing', 'Rotterdam', new Date(2015,7,17,10,45), new Date(2015,7,17,12,30), '#');
//timetable.addEvent('Zumba', 'Madrid', new Date(2015,7,17,12), new Date(2015,7,17,13), '#');
//timetable.addEvent('Zumbu', 'Madrid', new Date(2015,7,17,13,30), new Date(2015,7,17,15), '#');
//timetable.addEvent('Hackathon', 'Tokyo', new Date(2015,7,17,11,30), new Date(2015,7,17,20), '#');
//timetable.addEvent('Tokyo Hackathon Livestream', 'Los Angeles', new Date(2015,7,17,12,0), new Date(2015,7,17,16), '#');
//timetable.addEvent('Lunch', 'Jakarta', new Date(2015,7,17,9,30), new Date(2015,7,17,11), '#');
					var timetable = new Timetable();
					{% for d in dates %}
						timetable.addLocations(['{{d.dsc}}']);
						//d.push({'dsc':'{{d.dsc}}','t0':new Date("{{d.t0}}"),'t1':new Date("{{d.t1}}")});
						timetable.addEvent('{{d.dsc}}', '{{d.dsc}}', new Date("{{d.t0}}"),new Date(new Date("{{d.t1}}").getTime()+60000), '#');
					{% endfor %}

					var renderer = new Timetable.Renderer(timetable);
					renderer.draw('#timetable');


				}
			);
		</script>
	{% endif %}
{% endblock %}


