{% extends "base.html" %}
{% block content %}
	<img src="{{ user.avatar(128) }}"><br/>
	<h1>User: {{ user.username }}</h1>
	{% if user == current_user %}
		<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
	{% endif %}
	{% if user.about_me %}
		<p>{{ user.about_me }}</p>
	{% else %}
		<p>No about info</p>
	{% endif %}
	{% if user.last_seen %}
		<p>Last seen on: {{ user.last_seen }}</p>
	{% else %}
		<p>Last seen on: ???</p>
	{% endif %}

	<hr>
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
        {% if user == current_user %}
		<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
	{% elif not current_user.is_following(user) %}
		<p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
	{% else %}
		<p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
        {% endif %}


	<hr>
	{% for post in posts %}
        	{% include '_post.html' %}
	{% endfor %}
{% endblock %}
